html {
  background: url(../images/croc.jpg) no-repeat top left;
}

#ostrich {
  position: absolute;
  top: 30px;
  right: 0;
}

/* Write your solution here */

@media only screen and (max-width:1500px){
  
#ostrich{position:absolute; top:5%;
  right:0;
}
  
  
  
  
}

